{% load static %}
{% block content %}
{% include 'header.html' %}
<br><br><br><br><br><br>
<div class="container" align="center">
    <h1>SAVE CONTACT</h1>
    <br>
    

  <div class="col-lg-8" >
    <form id="contact" action="uupdates/{{result.id}}" method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-8">
          <fieldset>
            <input type="text" value="{{result.name}}" name="name" id="name" placeholder="Name" autocomplete="on" required>
          </fieldset>
        </div>
        <div class="col-lg-8">
          <fieldset>
            <input type="number" value="{{result.phone}}" name="phone" id="surname" placeholder="Phone" autocomplete="on" required>
          </fieldset>
        </div>
        <div class="col-lg-8">
          <fieldset> 
            <input type="email" name="email" value="{{result.email}}" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email" required="">
          </fieldset>
        </div>
        <div class="col-lg-8">
          <fieldset>
            <img src="../media/{{result.image}}">
            <input type="file" name="image" id="website" Photo="" required="">
          </fieldset>
        </div>
        <div class="col-lg-8">
          <fieldset>
            <button type="submit" id="form-submit" class="main-button">Save</button>
          </fieldset>
        </div>
      </div>
    </form>
  </div>

</div>

<br><br><br><br><br><br><br>
  {% include 'footer.html' %}
  {% endblock %}