{% load static %}
{% block content %}
{% include 'header.html' %}
<br><br><br><br><br><br>
<div class="container" align="center" >
  <h1>Login</h1>
  <br>
  

  <div class="col-lg-8" >
    <form id="contact" action="userlogin" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-8">
          <fieldset>
            <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email" required="">
          </fieldset>
        </div>
        <div class="col-lg-8">
          <fieldset>
            <input type="password" name="password" id="website" placeholder="password" required="">
          </fieldset>
        </div>
        <div class="col-lg-8">
          <fieldset>
            <button type="submit" id="form-submit" class="main-button">Login</button>
          </fieldset>
        </div>
      </div>
    </form>
  </div>

</div>

<br><br><br><br><br><br><br>
  {% include 'footer.html' %}
  {% endblock %}